body {
	font-family: Sans-serif;
}

.test-case {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 15px;

	border-radius: 8px;
	background-color: #939393;
	border-style: solid;
	border-width: 1px;

	font-size: 20px;
}

.step {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 10px;

	border-radius: 8px;
	background-color: #a8a8a8;
	border-style: solid;
	border-width: 1px;

	font-size: 18px;
}

.action {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 10px;

	border-radius: 8px;
	background-color: #bdbdbd;
	border-style: solid;
	border-width: 1px;

	font-size: 16px;
}

.locator {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 5px;

	border-radius: 8px;
	background-color: #d3d3d3;
	border-style: solid;
	border-width: 1px;

	font-size: 14px;
}

.exception {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 5px;

	border-radius: 8px;
	background-color: #d3d3d3;
	border-style: solid;
	border-width: 1px;

	font-size: 14px;
}

.screenshot {
	padding-bottom: 5px;
	padding-right: 5px;
	padding-top: 5px;
	margin: 5px;

	border-radius: 8px;

	font-size: 14px;
}

img {
	max-width:50%;
  	max-height:50%;
	border-radius: 8px;
  	border-style: solid;
	border-width: 1px;
}

span {
	font-size: 18px;
	font-weight: bold;
}

.test-case.PASSED {
	background-color: #32CD32;
}

.test-case.FAILED {
	background-color: #FF0000;
}

.step.PASSED {
	background-color: #3CB371;
}

.step.FAILED {
	background-color: #FF4500;	
}

.action.PASSED {
	background-color: #98FB98;
}

.action.FAILED {
	background-color: #FF6347;	
}