.test-case {
	padding-left: 0px;
}

.step {
	padding-left: 25px;
}

.action {
	padding-left: 50px;
}

.locator {
	padding-left: 75px;
}

.exception {
	padding-left: 75px;
}

.screenshot {
	padding-left: 75px;
}

img {
	border-radius: 8px;
	max-width:50%;
  	max-height:50%;
}

.PASSED {
	background-color: #3cb371;
}

.FAILED {
	background-color: #ff6347;
}